.post_section {
    h1 {
        font-size: 121px;
        font-size: 121px;
        position: absolute;
        top: 37%;
        left: 58%;
        transform: translate(-50%, -50%);
        color: #54545421;
    }
}